html {
    background-color: darkmagenta;
}

body {
    background-color: greenyellow;
    width: 50%;
    margin-left: 25%;
}


table.grid, table.grid th, table.grid td {
    border-style: solid;
    border-collapse: collapse;
    border-width: 3px;
}
